<h1>My Dog Parks:</h1>
<hr>
    <% current_user.parks.each do |p| %>
        <h3><a href="/parks/<%= p.id %>"><%= p.name %></a></h3>
    <% end %>
    <br>
<p><a href="/parks/new">+ Add A Dog Park</a></p>

<hr>
<br>
<a href="/owners/<%= current_user.id %>">Home</a>
