<h2>My Dog Parks:</h2>

    <% current_user.parks.each do |p| %>
        <h4><a href="/parks/<%= p.id %>"><%= p.name %></a></h4>
    <% end %>
<br>
<p><a href="/parks/new">+ Add A Dog Park</a></p>
<hr>
<br>
<a href="/owners/<%= current_user.id %>">Home</a>
