<h3><%= @park.name %></h3>
<hr>
<br>
<p>Location: <%= @park.location %></p>
<p>Description: <%= @park.description %></p>
<p><a href="/parks/<%= @park.id %>/edit">+ Edit/Delete Park</a></p>
<hr>
<br>
<a href="/parks">Back</a>
