<h2>Add a dog:</h2>

  <form method="POST" action="/dogs">
    <label>Name: <input type="text" name="name"></label>
    <br>
    <br>
    <label>Age: <input type="number" name="age" placeholder="e.g. 2" ></label>
    <br>
    <br>
    <label>Breed: <input type="text" name="breed"></label>
    <br>
    <br>
    <input type="submit">  
  </form>
<br>
<hr>
<br>
<a href="/whatspawppin">Cancel</a>