<h1>Add a dog:</h1>
<hr>
<br>
  <form method="POST" action="/dogs">
    <label>Name: <input type="text" name="name"></label>
    <br>
    <br>
    <label>Age: <input type="text" name="age"></label>
    <br>
    <br>
    <label>Breed: <input type="text" name="breed"></label>
    <br>
    <br>
    <input type="submit">
    
</form>
<br>
<hr>
<br>
<a href="/owners/<%= current_user.id %>">Cancel</a>