<h1>Add a dog:</h1>
<br>
  <form method="POST" action="/dogs">
    <label>Name: <input type="text" name="name"></label>
    <br>
    <br>
    <label>Age: <input type="text" name="age"></label>
    <br>
    <br>
    <label>Breed: <input type="text" name="breed"></label>
    <br>
    <br>
    <input type="submit" value="Add Dog">
</form>