<div class="container">
<h1>What's Pawppin'?</h1>
<br>
<h2>Let's find amazing parks for our furry friends!</h2>
<h3> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</h3> 
</div>